body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:810px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:220px;
  top:110px;
  width:380px;
  height:284px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:284px;
}
#u1 {
  position:absolute;
  left:2px;
  top:134px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:260px;
  top:200px;
  width:68px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:264px;
  top:234px;
  width:66px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:340px;
  top:200px;
  width:200px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u7 {
  position:absolute;
  left:2px;
  top:0px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:340px;
  top:234px;
  width:200px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u9 {
  position:absolute;
  left:2px;
  top:0px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:340px;
  top:274px;
  width:46px;
  height:16px;
}
#u11 {
  position:absolute;
  left:16px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u10_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12 {
  position:absolute;
  left:406px;
  top:274px;
  width:50px;
  height:16px;
}
#u13 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u12_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u14 {
  position:absolute;
  left:476px;
  top:274px;
  width:70px;
  height:16px;
}
#u15 {
  position:absolute;
  left:16px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u14_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u16 {
  position:absolute;
  left:261px;
  top:274px;
  width:69px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:425px;
  top:320px;
  width:70px;
  height:25px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u19 {
  position:absolute;
  left:325px;
  top:320px;
  width:70px;
  height:25px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u20 {
  position:absolute;
  left:273px;
  top:142px;
  width:274px;
  height:28px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:28px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:610px;
  top:116px;
  width:200px;
  height:100px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u23 {
  position:absolute;
  left:2px;
  top:34px;
  width:196px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:550px;
  top:350px;
  width:140px;
  height:30px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
